.footer__content {
    padding: 147px 90px;
    background: rgb(44, 62, 80);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
  }
  
  @media (min-width: 761px) {
    .footer__content {
      flex-direction: row;
      justify-content: space-between;
    }
  }
  .footer__redes-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .footer__redes {
    display: flex;
    text-decoration: none;
    color: white;
    align-items: center;
    justify-content: space-between;
  
    gap: 10px;
  }
  .footer__redes-txt {
    flex-grow: 1;
    text-align: end;
    font-size: 22px;
  }
  .footer__redes-img {
    border-radius: 16px;
    height: 50px;
    width: 50px;
  }
  